/*页面通用css*/

.nowrap {
  //文字不换行，超出部分用省略号表示
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: 0;
}

textPage {
  li {
    line-height: 28px;
  }
}

.content-box {
  position: absolute;
  left: 250px;
  right: 0;
  top: 70px;
  bottom: 0;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
}

.content-box.content-collapse {
  left: 65px;
}

.content {
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.title {
  line-height: 50px;
  letter-spacing: 1px;
  font-size: 16px;
  border-bottom: 1px solid #DCDFE6;
  display: flex;
  vertical-align: middle;
  &:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 30px;
    margin: auto 10px;
    border-radius: 2px;
    background-color: #000;
  }
  @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.05))
}
.container {
  margin: 15px;
  padding: 15px;
  border-radius: 2px;
  //box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  min-height: calc(100% - 100px);
}

.crumbs {
  position: relative;
  z-index: 1;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.filter-box {
  display: flex;
}

.pLabel {
  margin-bottom: 10px;
  padding-left: 13px;
  font-size: 16px;
}

.pageTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.curp:hover {
  @include hover();
}

.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .2s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
